/* when call or not call*/
.overlay {
  position: absolute;
  display:flex;
  height: 100vh;
  width: 100vw;
  background: rgb(27, 30, 36, 0.5);
  z-index: 5;
  align-items: center;
  justify-content: center;
}

.overlay .on-overlay {
  color: white;
  display:flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width:18vw;
  font-size:46px;
  z-index: 1000;
}


.overlay .on-overlay .little-block{
  background: rgb(194, 208, 247);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  border-radius: 6px;
}

.overlay .on-overlay .little-block p {
  font-size: 26px;
  color: black;
}

.cancel-call{
  font-size:20px;
  padding: 10px;
  margin-top: 25px;
  color: red;
  background:white;
  border-radius: 10px;
  border: solid #465154 1px;
  cursor: pointer;
}

.transparent {
  display: none;
}

.call-text {
  margin-top:10px;
}

/* numbers */
.digit-box {
  width: 30%;
  height: 50px;
  background-color: #a0e4f7;
  border: solid black 1px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-style: black;
  color: black;
}

.digit-box:hover {
  cursor: pointer;
}

.digit-box:active {
  cursor: pointer;
  background-color: white;
}

.phone-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

/* functional button */
.function-button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  box-sizing: border-box;
}

.function-button {
  flex: 1;
  margin: 0 10px;  
  background-color: grey;
  text-align: center;
  padding: 5px;
  justify-content: center;
  border: solid 1px white;
  border-radius: 6px;
  height: 5vh;
  width: 8vw;
  cursor: pointer;
}

.function-button:active {
  background-color: white;
  color: black;
}

/* display */
.number-ui {
  border: 1px solid white;
  border-radius: 6px;
  display: block;
  text-align: center;
  align-items: center;
  width: 25vw;
  height: 8vh;
  margin: 10px;
}

/* Below are default settings */
.App-logo {
  height: 40vmin;
  width: 160px;
  height: 160px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
